


body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
justify-content: center;
align-items: center;
}

body+.image-bounce {
  position: absolute;
    top: 0; 
    left: 0;
}

.page {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
    background-color: #f9f9f9;
}


button, .button {
    background-color: #191919;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Geist Mono", monospace;
}

button:hover, .button:hover {
    background-color: #848484;
}

.dialogue .dialogue-content {
   display: none;
}

.dialogue .dialogue-button {
    display: none;
}

.dialogue .dialogue-button:first-child {
    display: block;
}

.dropdown-header{
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    padding: 5px 10px;
    margin-bottom: 0px;
}

.dropdown-header::after {
    content: "\25BC";
    font-size: 10px;
    margin-left: 5px;
}

.dropdown-header.active::after {
    content: "\25B2";
}

.dropdown-content {
    display: none;
    background-color: rgb(224, 224, 224);
    min-width: 160px;
    padding: 10px;
    margin-bottom: 10px;
}

.dropdown-content.active {
    display: block;
}